<form action="/Telefono/Insertar" method="post">
    <fieldset>
        <legend>Añadir nuevo teléfono</legend>
        <p><label for="id">ID:</label> <input type="text" name="id" id="id"
                placeholder="Introduce ID"></p>
        <p><label for="marca">Marca:</label> <input type="text" name="marca" id="marca"
                placeholder="Introduce marca"></p>
        <p><label for="modelo">Modelo:</label> <input type="text" name="modelo" id="modelo"
                placeholder="Introduce modelo"></p>
        <p><label for="precio">Precio:</label> <input type="text" name="precio" id="precio"
                placeholder="Introduce precio"></p>
        <p><input type="submit" value="Enviar"></p>
    </fieldset>
</form>
<p><a href="/Telefono">Volver</a></p>