<table border=1>
    <tr>
        <th>Nº</th>
        <th>Concepto</th>
        <th>Importe</th>
    </tr>
    <tr>

        <td style="text-align: center;">@ViewBag.Numero</td>
        <td style="text-align: center;">@ViewBag.Nombre</td>
        <td style="text-align: center;">@ViewBag.Importe €</td>
    </tr>
</table>
