@{
    ViewData["Title"] = "Aplicación";
}

<table>
    <tr>
        <td>dato1</td>
        <td>dato2</td>
    </tr>
    <tr>
        <td>dato3</td>
        <td>dato4</td>
    </tr>
</table>
