<form action="/Home/Insertar">
<p><div>DNI:</div><input type="text" name="dni" /></p>
<p><div>Nombre:</div><input type="text" name="nombre" /></p>
<p><div>Apellido:</div><input type="text" name="apellido" /></p>
<p><input type="submit" value="Insertar" /></p>
</form>