<form action="/Home/Editar">
<p><div>DNI:</div>
<select name="dni" id="dni">
    <option id="numeroDni">12345678-X</option>
</select></p>
<p><div>Nombre:</div><input type="text" name="nombre" /></p>
<p><div>Apellido:</div><input type="text" name="apellido" /></p>
<p><input type="submit" value="Editar" /></p>
</form>

